* { 
    word-wrap: break-word; 
    margin:0; 
    padding:0; 
}
ul, ol, li, span, p, form, h1, h2, h3, h4, h5, h6, dl, dt, dd { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    z-index: inherit; 
}
img, a img { 
    border:0; 
    margin:0; 
    padding:0; 
}
ul, ol, li { 
    list-style:none; 
}
html, body { 
    height:100%; 
    font:14px/1.5 STHeiti, Microsoft YaHei, Helvetica, sans-serif; 
    color:#4C4C4C; 
}
input, select, textarea, button { 
    font:12px/1.5 STHeiti, Microsoft YaHei, Helvetica, sans-serif; 
}
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { 
    margin: 0; 
    padding: 0; 
}
body { 
    max-width: 640px; 
    margin: 0 auto; 
    min-height: 100%; 
}
table { 
    empty-cells: show; 
    border-collapse: collapse; 
}
caption, th { 
    text-align: left; 
    font-weight: 400; 
}
ul li, .xl li { 
    list-style: none; 
}
h1, h2, h3, h4, h5, h6 { 
    font-size: 1em; 
}
em, cite, i { 
    font-style: normal; 
}
a img { 
    border: none; 
}
a:link, a:visited, a:hover { 
    text-decoration: none; 
    color: #222; 
}
label { 
    cursor: pointer; 
}
.bg { 
    background: #F5F5F5; 
}
.clearfloat {
    zoom: 1;
}
.clearfloat {
    display: block;
    clear: both;
    content: "";
}
.pd10 { 
    padding: 10px;
    overflow: hidden; 
}
.plc {
    position: relative;
    padding: 0 10px;
}
.bg-fff { 
    background: #FFFFFF; 
}
.mg10 { 
    margin: 10px 0;
    overflow: hidden; 
}
.mtb10 { margin: 10px 0; overflow: hidden; }
.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}
.color-a { 
    color: #4C4C4C !important; 
}
.color-b { 
    color: #D7D7D7 !important; 
}
.color-c { 
    color: #999 !important; 
}
.z { 
    float: left; 
} 
.y { 
    float: right;
}
.bzbt1 { 
    border-top: 1px solid #EFEFEF; 
}
.bzbb1 { 
    border-bottom: 1px solid #EFEFEF; 
}
.grey { color:#D7D7D7; }
/* 分页 */
.page { text-align: center; margin: 20px 40px; overflow: hidden; }
.page a { border: 1px solid #E9E9E9 !important; border-radius: 3px; padding: 5px 0 !important; background: #FFF !important; display: block !important; width: 30% !important; float: left; font-size: 14px; text-align: center !important; text-indent: 0px !important; height: 20px !important; line-height: 20px !important; margin: 0 !important; }
.page a:nth-child(2) { margin-left: 1% !important; margin-right: 1% !important; width: 32% !important; }
.page select { border: 1px solid #CCC; height: 25px; }
.vm { vertical-align: middle; }
.vm * { vertical-align: middle; }
.bg { background: #F5F5F5; }