/* 头部 */
.user_avatar_h {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EFEFEF;
}

.user_avatar_h h2 {
    width: 56%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #4C4C4C;
    line-height: 40px;
    font-weight: 100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user_avatar_h_l {
    width: 22%;
    float: left;
    line-height: 40px;
}

.user_avatar_h_l a {
    color: #4C4C4C;
    line-height: 40px;
    font-size: 16px;
    margin-left: 10px;
    float: left;
}

.user_avatar_h_l a em {
    font-size: 12px;
}

.user_avatar_h_r {
    width: 22%;
    float: right;
    line-height: 40px;
}

.user_avatar_h_r a {
    color: #4C4C4C;
    line-height: 40px;
    font-size: 16px;
    margin-right: 10px;
    float: right;
}

.user_avatar_h_r a em, .user_avatar_h_r a em {
    font-size: 12px;
}

/* 标题 */
.post_msg_from .px, .post_from .px {
    width: 90%;
    background: none;
    padding: 10px;
    font-size: 16px;
}
.post_from li { line-height: 28px; }
.post_from .sec_code .px { padding: 2px 4px; }

/* 选择主题分类 */
.post_from .sort_sel { color: #757575; background:none; width:100%; border: 0;font-size:16px; margin-left:-2px; }

/* 内容 */
.post_msg_from .px,.post_from .px { width:90%; background:none; padding:10px; font-size:16px; }
.post_msg_from textarea,.post_from textarea{ border:0; width:100%; background:none; padding:5px 0; font-size:16px;}

.btn_pn { width:44px; height:31px; overflow:hidden; border: 1px solid #FFF; line-height:31px; border-radius: 4px;}
.btn_pn_grey { background: #EFEFEF; color:#FFF; float: right;}
.btn_pn_blue { background: #F85857; color: #FFF; float: right; }

/* 工具栏 */
#photo .icon-zhaoxiang:before {
    font-size: 22px;
    top: 8px;
    position: absolute;
}

/* 表情包 */
.faceBox .tabClick { background: #FFF; overflow: hidden; }
.faceBox .tabClick li { height:37px; line-height: 37px; width: 33.3%; float: left; text-align: center; padding: 0 !important; }
.faceBox .tabClick li.active { color: #EBEBEB; transition: 0.1s; font-weight: bold; }
.faceBox .tabCon { overflow: hidden; background: #FFF;}
.faceBox .tabBox { position: relative}
.faceBox .tabList {word-break: break-all; width:100%; float:left; line-height: 100px; text-align:center; color: #D3D3D3; font-size:36px; font-family: "Arial Black"; }
.faceBox .lineBorder { border-bottom: 1px solid #EBEBEB; }
.faceBox .lineDiv { height: 1px; width: 33.3%; background: #999; }
.faceBox { display:none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 2px; overflow: hidden; }
.faceBox li { width: 20%; float: left; margin: 0; display: block; text-align: center; line-height: 40px; }	

/* 富文本 */
#getWangEditor1 {
    height: 26px;
    background: #3A9BFF;
    color: #FFF;
    padding: 6px 10px;
    cursor: pointer;
}