// iphone6基准值
@function pxToRem($px) {
	$rem : 37.5px;
	@return ($px / $rem) + rem; 
}

/* 1. 首页 */ 

// 一级导航
nav {
    position: fixed;
    background: #F6F5F3;
    box-shadow: 0 1px 1px #D7D7D7;
    overflow: hidden;
    top: 40px;
    height: 40px;
    z-index: 99;
    width: 100%;
    color: #333;
    font-size: 13px;
    span {
        float: left;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 16.6667%;
    }
    .active {
        color: #F85857;
    }
}

// 二级导航
.nav2 {
    position: fixed;
    top: 80px;
    z-index: 99;
    height: 40px;
    background: #fff;
    .swiper-wrapper {
        position: relative;
        top: 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #fff;
        .swiper-slide {
            background: #D33D3E;
            text-align: center;
        }
        .active {
            background: #D7D7D7 !important;
            color: #D33D3E !important;
        }
    }
    .swiper-pagination {
        height: 10px;
        width: 100%;
    }
}

// banner置顶
.zd-banner { 
    position: relative;
    // top: 120px;
 }
.banner-header h3 a { font-size: 16px; font-weight: 400; }
.banner-img { height: 150px; margin: 5px 0; overflow: hidden; }
.banner-img img { width: 100%; border: 0; object-fit: cover; }


.banner-zhiding { color: #F5574A; line-height: 12px; border: 1px solid #F5574A; border-radius: 2px; padding: 2px 4px; font-size: 12px; }

.banner-footer {  }
.banner-footer p, .news-view .news-footer p { position: relative; color: #999; line-height: 20px; overflow: hidden; font-size: 12px; }
.banner-footer p span, .news-view .news-footer p span { float: left; margin-right: 5px; }
.banner-footer p a, .news-view .news-footer p a { color: #999; }
.banner-footer p .comment, .news-view .news-footer p .comment { float: right; }
.banner-footer p .comment .ficon , .news-view .news-footer p .comment .ficon { color: #d7d7d7; }
.banner-footer p span em, .news-view .news-footer p span em { color: #999; font-style: normal; }

// 帖子列表
.newbz-card { background-color: #FFF; overflow: hidden; border-bottom: 0.5px solid #F5F5F5; }
.newbz-card-title { max-height: 86px; position: relative; overflow: hidden; }
.newbz-card-title-a {   }
.newbz-card-title-a a { font-size: 16px; line-height: 18px; }
.newbz-card-title-a a p { font-size: 14px; font-size: 100; }
.newbz-card-title-pic { float: left; margin-right: 10px; margin-bottom: 10px; }
.newbz-card-title-pic img { border-radius: 2px; width: 100px; height: 80px; object-fit: cover; }
.newbz-card-info { overflow: hidden; margin-top: 5px; }
.newbz-card-info-img, .newbz-card-info-name { float: left; }
.newbz-card-info-img img { width: 18px; height: 18px; border-radius: 50%; margin-right: 5px; }
.newbz-card-info-name a { font-size: 14px; color: #999; }
.newbz-card-info-name span { font-size: 12px; color: #999; margin-left: 5px; }
.newbz-card-info-view em { font-size: 12px; }
.banner-hot { color: #F5574A; line-height: 12px; border: 1px solid #F5574A; border-radius: 2px; padding: 2px 4px; font-size: 12px; margin-left: 5px; }

/* 首页 end */



/* 2. 热帖 */
.bz-guide-appl { border-bottom: 1px solid #EFEFEF; width: 100%; padding: 10px 0; position: fixed; top: 0; }
.bz-guide-appl li { float: left; width: 25%; text-align: center; }
.bz-guide-appl li a { font-size: 14px; }
.bz-guide-appl li.a a { border-bottom: 3px solid #F85857; padding-bottom: 10px; color: #F85857; }
.guide-tiezi table { width: 100%; }
.guide-tiezi tbody { border-bottom: 1px solid #EFEFEF; }
.guide-tiezi tbody:last-child { border-bottom: none; }
.guide-tiezi tbody th { padding: 10px 0; line-height: 1.3; }
.guide-tiezi tbody th a { font-size: 16px; }
.guide-tiezi tbody th .iconfont { font-size: 14px; }
.guide-tiezi tbody th .common-pic { width: 100px; height: 70px; float: right; margin-left: 10px; }
.guide-tiezi tbody th .common-pic img { width: 100%; height: 70px; object-fit: cover; border-radius: 2px; }

.bm { margin-bottom: 0px; border-bottom: 0px dashed #EFEFEF; }

.guide-no { width: 100%; text-align: center; padding: 20px 0; background: #FFFFFF; }

/* 热帖 end */



/* 3. 论坛 */
#chart li { float: left; text-align: center; width: 33.33%; font-size: 18px; line-height: 24px; }
#chart li span { display: block; line-height: 16px; height: 16px; font-size: 12px; overflow: hidden; color: #D7D7D7; }
#chart li em { color: #999; }

.bm_h .o { float: right; width: 31px; margin-right: 10px; }
.bm_h .o img { float: right; cursor: pointer; }
.bm_h .i { padding-left: 10px; }
.bm_h .pn { margin-top: 4px; }
.bm_h { height: 54px; background: #F5F5F5; line-height: 54px; white-space: nowrap; overflow: hidden; border-bottom: 1px dashed #EFEFEF; }
.bm_h h2 { height: 54px; background: #FFFFFF; }
.bm_h h2 a { display:block; margin:0 31px 0 10px; font-size:18px; line-height:54px; font-weight:400; }
/* 论坛 end */



/* 4. 搜索 */
.bzsearch { padding: 10px; background: #FFF; }
.bzsearch .input { -webkit-appearance: none; width: 100%; height: 29px; text-indent: 7px; margin-top: 0px; border: 1px solid #EFEFEF; border-radius: 5px; background: #F6F6F6; }
.button2 { width: 50px; height: 32px; color: #FFF; background: url('../images/button_bg2.png') no-repeat; border:0; font-size:12px; border-radius: 5px; margin: 2px 0; }
.scbar_btn_td {
    width: 66px;
    text-align: center;
}
.search-hot a { font-size: 14px; }
.tab-title, .scbar-hot-title { padding: 10px 0; }
.tab-title { border-bottom: #EFEFEF 1px solid; }
.tab-title a { color: #999; }
.scbar-hot-title { overflow: hidden; }
.scbar-hot-title a { background: #F5F5F5; border: 1px solid rgba(0,0,0,0.08); border-radius: 2px; float: left; margin: 12px 12px 0 0; height: 28px; line-height: 28px; font-size: 12px; padding: 0 10px; }
.scbar-hot-title .xi2 { margin: 10px 10px 0 0; }
.threadlist { padding: 0; margin-top: 10px; margin-bottom: 10px; overflow: hidden;}
.threadlist p { text-align: center; }
.thread_tit { padding: 0 10px; border-bottom: 1px solid rgba(0,0,0,.08); line-height: 40px; color: #0162AC; font-size: 15px; font-size: 700; margin-bottom: 10px; }
.thread_tit { padding: 0 10px; border-bottom: 1px solid #EFEFEF; line-height: 54px; font-size: 18px; font-weight: 400; }
.threadlist li { border-bottom:1px solid #EFEFEF; font-size:14px; }
.threadlist li a { display:block; padding:7px 10px; font-size:16px; line-height:25px; color: #333; }
.threadlist .num { position:absolute; background: url(./images/icon_num.png) no-repeat 0 6px; right:10px; bottom:10px; padding:0 0 0 18px; font-size:12px; color:#C0C0C0; }
.threadlist .icon_top,.threadlist .icon_tu { left:0; top:-1px;}
.threadlist .by { font-size:12px; color:#999; display:inline; }
/* 搜索页 end */



/* 5. 我的 */
.user_avatar_h { width: 100%; height: 40px; position: fixed; top: 0; z-index: 99; }
.user_avatar_h h2 { width: 56%; float: left; text-align: center; font-size: 14px; color: #FFF; line-height: 40px; font-weight: 100; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.user_avatar_h_l { width: 22%; float: left; line-height: 40px; }
.user_avatar_h_l a { color: #FFF; line-height: 40px; font-size: 16px; margin-left: 10px; float: left; }
.user_avatar_h_l a em { font-size: 12px; }
.user_avatar_h_r { width: 22%; float: right; line-height: 40px; }
.user_avatar_h_r a { color: #FFF; line-height: 40px; font-size: 16px; margin-right: 10px; float: right; }
.user_avatar_h_r a em, .user_avatar_h_r a em { font-size: 12px; }

.user_avatar { text-align:center; margin-bottom:10px; padding: 60px 0; background: #D33D3E; }
.user_avatar img { border-radius: 50%; border: 2px solid #FFF; width: 60px; height: 60px; }
.user_avatar .name { color:#FFF; font-size:16px; line-height:40px; }
.user_avatar p { color:#FFF; font-size:12px; line-height:20px; }

.myinfo_list { width: 100%; margin: 0 auto; }
.myinfo_list li { background: #FFF; width: 100%; height:40px; float:none; margin:0; border-radius: 0px; border-bottom: #EFEFEF 1px solid; }
.myinfo_list li a { display:block; line-height:40px; text-align: left; font-size:16px; padding-left: 15px; }
.myinfo_list li a:before { color: #999; }
.myinfo_list li span { padding-right: 15px; color: #CBC7C7; font-size: 14px; }

// 我的资料 详情页
.user_box { border-radius: 0px; border: 0 solid #DDD; margin: 0; }
.user_box li { background: #FFF; line-height: 38px; border-bottom: 1px solid rgba(0, 0, 0, 0.06); padding: 0 10px; color: #333; font-size:14px; }
.user_box li:nth-child(1) { border-top: 1px solid rgba(0, 0, 0, 0.06); }
.user_box li a { display: block; line-height: 40px; text-align: left; font-size: 16px; }
.user_box li a:nth-child(2) { color: #808080; font-size: 14px; line-height: 20px; }
.user_box li span { color: #808080; float: right; font-size: 14px; height: 40px; max-width: 70%; overflow: hidden; }
.btn_exit { padding: 10px; margin: 10px 0 30px 0;}
.btn_exit a { background: #D33D3E; height: 39px; line-height: 39px; display: block; overflow: hidden; margin: 0 auto; text-align: center; font-size: 14px; color: #FFFFFF; border-radius: 5px; }

// 我的收藏
.bz-header { width: 56%; height: 40px; position: fixed; top: 0; z-index: 100; background-color: #FFFFFF; border-bottom: 1px solid #EFEFEF; left: 22%; }
.bz-header h2 { width: 100%; float: left; text-align: center; font-size: 16px; color: #4C4C4C; line-height: 40px; font-weight: 100; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.bz-header h2 li { width: 32%; float: left; text-align: center; border: 1px solid #D33D3E; height: 20px; line-height: 20px; margin-top: 8px; }
.bz-header h2 li:first-child { margin-right: -1px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.bz-header h2 li:nth-child(2) { margin-right: -1px; }
.bz-header h2 li:nth-child(3) { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.bz-header h2 li a { color: #D33D3E; font-size: 12px; font-weight: 700; }
.bz-header h2 li.a { background: #D33D3E; }
.bz-header h2 li.a a { color: #FFF; }
.bz-header-left { width: 22%; float: left; height: 40px; line-height: 40px; }
.bz-header-right { width: 22%; float: right; height: 40px; line-height: 40px; }

// 帮助
.bz-faq-appl { width: 98%; min-height: 28px; float: left; padding: 10px 0 1px 2%; overflow-y: hidden; overflow-x: scroll; margin-bottom: 2px; }
.bz-faq-appl ul { white-space: nowrap; width: 98%; float: left; }
.bz-faq-appl ul li { display: inline-block; text-align: center; margin-right: 5px; }
.bz-faq-appl ul li a { border-radius: 2px; padding: 5px 8px; margin-right: 1px; background-color: #FFF; float: left; color: #B3B3B3; }    
.bz-faq-appl ul li.a a { color: #060606; }
.faqpx {
    -webkit-appearance: none;
    border: 1px solid #EFEFEF;
    padding: 2px 4px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
}
/* 我的 end */