<div class="user_center_mian sendBox">
  <div class="title">
    <span> 发邮件 </span>
  </div>

  <form role="form">
    <div class="form-group">
      <label for="name"> 收件人 : </label>
      <label class="radio-inline">
          <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked> 上级代理
      </label>
      <label class="radio-inline">
          <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2"> 直属下级
      </label>
    </div>
    <div class="form-group">
      <label for="name"> 邮件标题 : </label>
      <input type="text" class="form-control" placeholder="请输入订单编号">
    </div>
    <div class="form-group">
      <label for="name"> 邮件内容：</label>
      <textarea class="form-control" rows="80"></textarea>
    </div>
    <button type="button" class="btn btn-primary">
      发送
    </button>
  </form>
</div>
