<div class="activity">
  <div class="activity_main">
    <div class="activity_main_title">  <i class="iconfont icon-04_youhuihuodong"></i> 优惠活动 </div>
    <ul class="activity_main_list">
      <li class="active">
        <img src="./image/active/banner.png" alt="">
        <div class="activity_main_word">
          <h3> 将幸运“袋”回家 </h3>
          <p>
            <span> 活动内容 ： </span>
            活动共有两轮（第1轮：2月12日-18日；第2轮：2月19日-25日），在每一轮活动时间内，您使用流水可以开启版块，获得相应的礼金。当开启所有版块后，可额外获得3888元礼金
          </p>
          <h6>
            <span> 活动时间： </span> 2018年11月07日-2018年11月19日
          </h6>
        </div>
        <div class="activity_main_btn">
          <a href=""> 点击进入 </a>
        </div>
      </li>
      <li>
        <img src="./image/active/banner.png" alt="">
        <div class="activity_main_word">
          <h3> 将幸运“袋”回家 </h3>
          <p>
            <span> 活动内容 ： </span>
            活动共有两轮（第1轮：2月12日-18日；第2轮：2月19日-25日），在每一轮活动时间内，您使用流水可以开启版块，获得相应的礼金。当开启所有版块后，可额外获得3888元礼金
          </p>
          <h6>
            <span> 活动时间： </span> 2018年11月07日-2018年11月19日
          </h6>
        </div>
        <div class="activity_main_btn">
          <a href=""> 已结束 </a>
        </div>
      </li>
      <li>
        <img src="./image/active/banner.png" alt="">
        <div class="activity_main_word">
          <h3> 将幸运“袋”回家 </h3>
          <p>
            <span> 活动内容 ： </span>
            活动共有两轮（第1轮：2月12日-18日；第2轮：2月19日-25日），在每一轮活动时间内，您使用流水可以开启版块，获得相应的礼金。当开启所有版块后，可额外获得3888元礼金
          </p>
          <h6>
            <span> 活动时间： </span> 2018年11月07日-2018年11月19日
          </h6>
        </div>
        <div class="activity_main_btn">
          <a href=""> 已结束 </a>
        </div>
      </li>
    </ul>
    <a class="more_activity" href=""> 查看更多往期活动 </a>
  </div>
</div>
