<div class="download">
  <div class="download_main">
    <div class="download_main_left">
      <h1> 下载彩票客户端 </h1>
      <p> 随时随地中大奖 </p>
      <div class="img">
        <img src="./image/download/erq.png" alt="">
        <img src="./image/download/erq.png" alt="">
      </div>
      <div class="download_main_btn">
        <a href="javscript:;"> <img src="../../image/download/pingguo.png" alt=""> IOS扫码下载 </a>
        <a href="javscript:;"> <img src="../../image/download/anzhuo.png" alt=""> Android下载 </a>
        <a href="javscript:;"> <img src="../../image/download/win.png" alt=""> PC客户端下载 </a>
      </div>
    </div>
    <div class="download_main_right">
        <div class="dowload_caipiao">  <span> 彩票 </span>  </div>
        <div class="dowload_baobiao">  <span> 报表 </span>  </div>
        <div class="dowload_zhuihao">  <span> 追号 </span>  </div>
        <div class="dowload_touzhu">  <span> 投注 </span>  </div>
        <div class="dowload_chonzhi">  <span> 充值 </span>  </div>
    </div>
  </div>
</div>
