<div class="user_center_mian betDetail chaseBet">
    <div class="title">
        <span> 追号详情 </span>
    </div>
    <div class="personal_ifo betDetail">
        <h3>
            订单详情（订单编号：YF11191087162031244P）
        </h3>
        <div class="betDetail_mian">
            <ul>
                <li>
                    <span> 投注用户： </span>
                    <span> caiwutest </span>
                </li>
                <li>
                    <span> 单倍注数： </span>
                    <span> 1 注 </span>
                </li>
                <li>
                    <span> 计划追号期数： </span>
                    <span> 5期 </span>
                </li>
                <li>
                    <span> 投注平台： </span>
                    <span> pc端2.0 </span>
                </li>
                <li>
                    <span> 追号状态： </span>
                    <span> 已完成 </span>
                </li>
            </ul>
            <ul>
                <li>
                    <span> 模式： </span>
                    <span> 2元 </span>
                </li>
                <li>
                    <span> 总追号倍数： </span>
                    <span> 1 倍 </span>
                </li>
                <li>
                    <span> 计划总金额： </span>
                    <span> 10.00 </span>
                </li>
                <li>
                    <span> 中奖即停： </span>
                    <span> 是 </span>
                </li>
                <li>
                    <span> 投注时间： </span>
                    <span> 2018-11-19 18:06:43 </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th> 玩法名称 </th>
                    <th> 投注内容 </th>
                    <th> 投注注数 </th>
                    <th> 投注金额 </th>
                    <th> 奖金/返点 </th>
                    <th> 实际奖金 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 后三直选 </td>
                    <td> 0,4,3 </td>
                    <td> 1 注 </td>
                    <td> 2 元 </td>
                    <td> 1700/7.5 </td>
                    <td> 0.0000元 </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th> 操作 </th>
                    <th> 期号 </th>
                    <th> 开奖号码 </th>
                    <th> 当前倍数 </th>
                    <th> 投注金额 </th>
                    <th> 中奖金额 </th>
                    <th> 订单状态 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>  </td>
                    <td> 0,4,3 </td>
                    <td> 1 注 </td>
                    <td> 2 元 </td>
                    <td> 1700/7.5 </td>
                    <td> 0.0000元 </td>
                    <td> 未中奖 </td>
                </tr>
                <tr>
                    <td>  </td>
                    <td> 0,4,3 </td>
                    <td> 1 注 </td>
                    <td> 2 元 </td>
                    <td> 1700/7.5 </td>
                    <td> 0.0000元 </td>
                    <td> 未中奖 </td>
                </tr>
                <tr>
                    <td>  </td>
                    <td> 0,4,3 </td>
                    <td> 1 注 </td>
                    <td> 2 元 </td>
                    <td> 1700/7.5 </td>
                    <td> 0.0000元 </td>
                    <td> 未中奖 </td>
                </tr>
                <tr>
                    <td>  </td>
                    <td> 0,4,3 </td>
                    <td> 1 注 </td>
                    <td> 2 元 </td>
                    <td> 1700/7.5 </td>
                    <td> 0.0000元 </td>
                    <td> 未中奖 </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="registeLower_btn">
        <button> 打印 </button>
        <button> 撤单 </button>
    </div>
</div>