<div class="user_center_mian bonusPlay changePassword">
  <div class="title">
    <span data-show="#change_login" class="active"> 修改登录密码 </span>
    <span data-show="#change_money"> 修改资金密码 </span>

  </div>
  <div class="bonusPlayContent changePasswordContent">

    <div id="change_login" >
      <form action="">
        <div class="form-inline">
          <label for=""> 用户名： </label>
          <span> jackLove </span>
        </div>
        <div class="form-inline">
          <label for=""> 旧登陆密码： </label>
          <input type="text" class="form-control" placeholder="请输入旧登陆密码">
        </div>
        <div class="form-inline">
          <label for=""> 新登陆密码： </label>
          <input type="text" class="form-control" placeholder="请输入新登陆密码">
        </div>
        <div class="form-inline">
          <label for=""> 确认登陆密码： </label>
          <input type="text" class="form-control" placeholder="请确认新登陆密码">
        </div>
        <div class="form-inline">
          <button type="button"> 确认修改 </button>
        </div>
      </form>
    </div>


    <div id="change_money">
      <form action="">
        <div class="form-inline">
          <label for=""> 用户名： </label>
          <span> jackLove </span>
        </div>
        <div class="form-inline">
          <label for=""> 旧资金密码： </label>
          <input type="text" class="form-control" placeholder="请输入旧资金密码">
        </div>
        <div class="form-inline">
          <label for=""> 新资金密码： </label>
          <input type="text" class="form-control" placeholder="请输入新资金密码">
        </div>
        <div class="form-inline">
          <label for=""> 确认资金密码： </label>
          <input type="text" class="form-control" placeholder="请确认新资金密码">
        </div>
        <div class="form-inline">
          <button type="button"> 确认修改 </button>
        </div>
      </form>
    </div>

  </div>
</div>


<script>
  $("#change_login").show()
  $(".changePassword>.title>span").on('click', function () {
    $(this).addClass("active").siblings().removeClass("active");
    var showid = $(this).attr("data-show");
    $(showid).show().siblings().hide();
  })

</script>
