<div class="user_center_mian">
    <div class="title">
        <span> 个人资料 </span>
    </div>
    <div class="personal_username">
        <div class="username">
            <span> 用户名： </span> 天天发财 </div>
        <div class="nickname">
            <span> 昵称： </span> VIP发财
            <b> 修改 </b>
        </div>
    </div>
    <div class="personal_ifo">
        <h3> 安全资料 </h3>
        <div class="personal_bank">
            <p> 开户人姓名：龙*** </p>
            <p> 资金密码：('***************') </p>
            <p> 注意提示：您已经设置了安全资料，不可更改 </p>
        </div>
    </div>
</div>