.container {
    /* 左侧广告 */
    .left-side {
        position: fixed;
        top: 80px;
        width: calc((100% - 1200px) / 2);
        height: 100%;
        background-image: url("~@/static/images/ggleft.jpg");
        // background-size: 100% 100%;
        background-repeat: no-repeat; 
    }
    /* 右侧广告 */
    .right-side {
        position: fixed;
        top: 80px;
        right: 0;
        width: calc((100% - 1200px) / 2);
        height: 100%;
        background: #333;
        background-image: url("~@/static/images/ggright.jpg");
        // background-size: 100% 100%;
        background-repeat: no-repeat; 
    }
}