/* 导航 */
.main-nav {
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px #F0F0F0 solid;
    box-sizing: border-box;
}
.main-nav .active {
    background: #48b6fb;
    color: #fff;
}
.main-nav>li {
    position: relative;
    display: inline-block;
    float: left;
}
.main-nav>li>span {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding: 0 72px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.main-nav>li>span:hover {
    background: #48b6fb;
    color: #fff;
}
.main-nav>li>span:hover + .main-menu {
    display: block;
}
/* 导航 end */


/* 登陆 */
.login {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px #F0F0F0 solid;
    padding: 12px;
}
.login-btn {
    float: left;
    width: 100px !important;
    height: 36px;
    font-size: 14px;
    background: #48B6FB;
    color: white;
    font-weight: 900;
    font-family: '微软雅黑';
    margin: 18px 0 0 20px;
    border-radius: 4px;
    border: none;
    vertical-align: middle;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}
.fast-reg, .find-pwd {
    float: left;
    display: inline-block;
    width: 80px;
    height: 20px;
    margin: 28px 0 0 20px;
}
.fast-reg a, .find-pwd a {
    font-size: 13px;
    font-weight: 400;
    color: #333333;
}
.fast-reg:before, .find-pwd:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 2px;
    margin-right: 5px;
    background: url('../images/u31.png') no-repeat;
}
.find-pwd:before {
    background: url('../images/u29.png') no-repeat;
}

/* 登陆 end */


/* 用户信息 */
.userinfo {
    display: none;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding: 10px 0;
    background: #fff;
    border-bottom: 1px #F0F0F0 solid;
    padding: 12px;
}
.user-avatar {
    float: left;
    border: 1px solid #ddd;
    padding: 2px;
    margin-top: 5.5px;
    margin-right: 10px;
}
.user-avatar img {
    width: 48px;
    height: 48px;
}
.user-details {
    float: left;
    margin-top: 5.5px;
    height: 54px;
    width: 800px;
    font-size: 12px;
    color: #888;
}
.user-details-up, .user-details-down {
    height: 26px;
    line-height: 26px;
    width: 100%;
    margin: 0;
    font-weight: bold;
}
.user-details-up a, .user-details-down a {
    padding-left: 8px;
    color: #888;
}
.user-name {
    color: #48B6FB;
}
.user-name::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 2px;
    background: url('../images/user2.gif') no-repeat;
    margin-right: 5px;
}
.user-remind {
    color: red;
}
.user-remind:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 12px;
    height: 14px;
    top: 2px;
    background: url('../images/notice.gif') no-repeat;
    margin-right: 5px;
}
/* 用户信息 end */


/* 其他社区跳转区 */
.other-community {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 126px;
    margin-bottom: 10px;
    /* background: #fff; */
}
.swiper-container {
    width: 100%;
    height: 126px;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 13px;
    background: #fff;
}
.community-title {
    width: 137px;
    height: 22px;
    line-height: 22px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    text-align: center;
    margin: 10px 19px;
}
.community-title-odd {
    background-color: #DBF1FB;
}
.community-title-even {
    background-color: #F2F2F2;
}
.other-community ul {
    margin-left: 24px;
}
.other-community ul li {
    float: left;
    line-height: 30px;
}
/* 其他社区跳转区 end */


/* 广告栏 */
.gg-box {
    position: relative;
    width: 100%;
}
.gg-item {
    position: relative;
    height: 80px;
    background-color: #ddd;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* 广告栏 end */


/* 注册 */
.register {
    border: 1px solid #CDCDCD;
    background: #FFF;
}
.register-header {
    padding: 0 10px;
    height: 31px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #C2D5E3;
    background: #F2F2F2;
    line-height: 31px;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid #CDCDCD !important;
}
.register-header span {
    float: right;
}
.register-header a {
    color: #369;
}
.register-header h3 {
    font-size: 14px !important;
    font-weight: bold;
}
.register-body {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 250px;
}
.register-body .row {
    height: 50px;
    /* margin: 15px 0; */
}
.register-body .row span, .register-body .row input {
    display: inline-block;
}
.register-info {
    color: #666; 
    padding-left: 10px;
}
#newuser-register-btn {
    background: #48B6FB;
    border: none;
    height: 30px;
    font-size: 13px;
    border-radius: 2px;
    font-weight: normal;
    color: #FFF;
    cursor: pointer;
}
/* 注册 end */


/* 论坛区 */
.forum {
    background: #fff;
}
.forum-header {
    background: #F7F7F7;
    padding: 10px 20px;
}
/* .forum-header p, .forum-header div {
    display: inline-block;
} */
.forum-header p {
    color: black;
    margin: 0;
    display: inline-block;
}
.forum-header p:before {
    position: relative;
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    top: 2px;
    margin-right: 6px;
    background: url('../images/chart.png') no-repeat;
}
.forum-header p em {
    color: #E94646;
}
.forum-header .pipe {
    margin: 0 24px;
    color: #000;
}
.forum-body {
    background: #333;
}
.forum-body>h2, .forum-body>p, .forum-body>ul, section, {
    box-sizing: content-box;
    background: #fff;
}
.forum-body>h2 {
    font-weight: bold;
}
.forum-body h2 a {
    color: #333;
}
.notabs {
    color: #369;
}
.forum-bg {
    padding: 20px;
    margin-bottom: 10px !important;
    background: #fff;
}
.forum-bg .onOff {
    float: right;
    width: 30px;
}
.forum-bg .onOff img {
    float: right;
    margin-top: 8px;
    cursor: pointer;
}
.forum-list .forum-item {
    height: 88px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-family: '微软雅黑';
    border-bottom: 1px #F0F0F0 solid;
}
.forum-list .img-box {
    float: left;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.forum-list .img-box img {
    border-radius: 5px;
    width: 75px;
    height: 75px;
}
.bankuai-intro {
    float: left;
    width: 550px;
    height: 80px;
    margin-left: 20px;
}
.bankuai-intro h2 {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
    color: #333;
}
.fatieliang {
    background: #48B6FB;
    color: white;
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    border-radius: 14px;
}
.bankuai-jieshao {
    width: 400px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-top: 13px;
    color: #666666;
}
.bankuai-fenlei {
    font-size: 12px;
    margin-top: 2px;
}
.bankuai-fenlei a {
    color: rgb(0,128,128);
}
.bankuai-fenlei a:first-child {
    color: #F34D3E;
}
.bankuai-fenlei span {
    color: #839BB4;
    margin: 0 4px;
}
.zhuti-num h2, .tiezi-num h2 {
    font-weight: normal;
    font-size: 16px;
}
.zhuti-num p, .tiezi-num p {
    color: #999999;
}
.zhuti-num {
    position: absolute;
    right: 40%;
    text-align: center;
    margin-top: 20px;
    height: 24px;
}
.tiezi-num {
    position: absolute;
    right: 32%;
    text-align: center;
    margin-top: 20px;
    height: 24px;
}
.zuixin-tiezi {
    float: right;
    width: 220px;
    margin-top: 20px;
    font-size: 12px;
}
.zuixin-tiezi p {
    color: #999999;
}
.zuixin-tiezi a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #839BB4;
}
.zuixin-tiezi .publish-time {
    float: left;
}
.zuixin-tiezi .tiezi-author {
    float: left;
    margin-left: 20px;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 论坛区 end */


/* 讨论区 */
.forum-details {
    background: #fff;
}
.forum-details-header {
    padding: 10px 20px;
}
.breadcrumb a {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}
.forum-details-header .title {
    margin: 20px 0;
}
.forum-details-header .icon {
    float: left;
    width: 100px;
    height: 100px;
}
.forum-details-header .icon img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.forum-details-header .rightbox {
    display: inline-block;
    box-sizing: border-box;
    height: 100px;
    width: calc(100% - 120px);
    margin-left: 20px;
}
.bankuai-name a, .bankuai-name em, .bankuai-name span {
    margin-left: 10px;
}
.bankuai-name-title {
    margin-left: 0;
}
.bankuai-name a {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}
.forum-details-body {
    padding: 10px 20px;
}
/* 讨论区 end */


/* 帖子 */
.article {
    background: #fff;
}
.article-header {
    padding: 10px 20px;
}
/* 帖子 end */


/* 页脚 */
footer {
    position: relative;
    width: 100%;
}
.footer-info {
    box-sizing: border-box;
    padding-top: 20px;
    width: 100%;
    height: 250px;
    background: #1E2023;
    border-top: none;
}
.footer_about {
    width: 460px;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
}
.footer_about a {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    color: white;
    margin: 0 6px 0 0;
    border-right: 1.5px white solid;
}
.footer_shengming {
    height: 150px;
    width: 1150px;
    line-height: 29px;
    margin: 0 auto;
    font-size: 12px;
    color: #666666;
    word-wrap: break-word;
    overflow: hidden;
}
.footer-banquan {
    width: 100%;
    height: 50px;
    color: white;
    line-height: 50px;
    font-size: 12px;
    background: #333333;
    text-align: center;
}
.footer-banquan img {
    width: 24px;
    height: 23px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.footer-banquan p {
    display: inline-block;
    margin: 0;
}
.footer-banquan a {
    color: #48B6FB;
}
/* 页脚 end */