/* 讨论区 */
.forum-details {
    display: none;
    background: #fff;
}
.forum-details-header {
    padding: 10px 20px;
}
.breadcrumb a {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}
.forum-details-header .title {
    margin: 20px 0;
}
.forum-details-header .icon {
    float: left;
    width: 100px;
    height: 100px;
}
.forum-details-header .icon img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.forum-details-header .rightbox {
    display: inline-block;
    box-sizing: border-box;
    height: 100px;
    width: calc(100% - 120px);
    margin-left: 20px;
}
.bankuai-banzhu {
    color: #999;
    font-size: 13px;
    line-height: 30px;
}
.bankuai-banzhu a {
    color: #8A9BB6;
}
.bankuai-desc {
    height: 28px;
    line-height: 28px;
    font-size: 13px;
}
.bankuai-name em, .bankuai-name span {
    margin-left: 10px;
}
.bankuai-name-title {
    margin-left: 0;
}
.bankuai-name a {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}
.forum-details-body {
    padding: 20px;
    border-top: 1px solid #ddd;
}
.back-forum-btn {
    display: inline-block;
    line-height: 26px;
    font-size: 13px;
    font-weight: 500;
}
.back-forum-btn>a {
    width: 50px;
    text-align: center;
    float: left;
    padding: 0 8px;
    border: 1px solid;
    border-color: #C2D5E3;
    background-color: #FFF;
    color: #333;
    overflow: hidden;
    text-decoration: none;
}
.back-forum-btn>a:hover {
    border-color: #369;
    color: #369;
}
.new-tiezi-btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #48B6FB;
    font-size: 12px;
    cursor: pointer;
}
.details-list-nav {
    height: 40px;
    line-height: 40px;
    background: #FAFAFA;
    border-left: 1px #ECECEC solid;
    border-right: 1px #ECECEC solid;
    border-top: 1px #ECECEC solid;
    box-sizing: border-box;
    padding: 0 10px;
}
.fenlei-title {
    font-weight: bold;
    margin-right: 20px;
}
.details-list-nav .fenlei-select {
    color: #FF6F48;
    font-weight: bold;
    font-size: 12px;
}
.fenlei-fenge {
    color: #CCCCCC;
    margin: 0 8px;
}
.details-list-nav a {
    color: #48B6FB;
}
.fenlei-fenge {
    font-weight: bold;
    color: #999;
}
.bankuai-shaixuan {
    border-left: 1px #ECECEC solid;
    border-right: 1px #ECECEC solid;
    border-bottom: 1px #ECECEC solid;
    background: #FAFAFA;
    height: 50px;
}
.shaixuan-inner {
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    border-top: 1px #ECECEC solid;
}
.shaixuan-inner select {
    padding: 3px 18px 5px 4px;
    border: 1px #CCCCCC solid;
    color: #333333;
    margin-right: 10px;
}
#atarget.atarget_1, .chked {
    background-position: 0 -37px;
}
#atarget, .unchk, .chked {
    padding-left: 15px;
    line-height: 16px;
    background: url('../images/atarget.png') no-repeat 0 3px;
    color: #369;
    cursor: pointer;
}
.xuanze_item {
    color: #999999;
    float: right;
    margin-right: 36px;
}
.y {
    float: right;
}
.p_pop, .p_pof, .sllt {
    padding: 4px;
    border: 1px solid;
    min-width: 60px;
    border-color: #DDD;
    background: #FEFEFE;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.p_pop li {
    display: inline;
}
.p_pop li a {
    border-top: 1px solid #E5EDF2 !important;
    height: 26px;
    line-height: 26px;
    border-bottom: none !important;
    color: black;
    text-align: center;
}
.p_pop a {
    display: block;
    padding: 3px 5px;
    border-bottom: 1px solid #E5EDF2;
    white-space: nowrap;
}
/* 帖子列表 */
.article-list {
    position: relative;
    width: 100%;
}
.article-item, .article-item>a {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.article-item {
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    border-bottom: 1px solid #ddd;
}
.article-item:hover {
    background: #F2F2F2;
}
.article-item a {
    text-decoration: none;
}
.article-item .logo {
    width: 30px;
}
.article-item .logo img {
    width: 17px;
    height: 17px;
    display: inline;
    margin-top: 6.5px;
}
.article-item .title {
    width: 800px;
    height: 30px;
    line-height: 30px;
}
.article-item .title img, .article-item .title span {
    display: inline-block;
}
.article-item .title .redu {
    width: 40px;
    height: 20px;
    line-height: 22px;
    float: right;
    /* margin-top: 5px; */
    margin-right: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    text-align: center;
    color: #ffffff;
}
.article-item .create {
    width: 95px;
}
.article-item .create span, .article-item .num span, .article-item .update span {
    line-height: 16px;
    display: block;
    font-size: 11px;
}
.article-item .num {
    width: 60px;
}
.article-item .update {
    width: 95px;
}