/* ???? */
.personal-center {
    display: none;
    background: #fff;
}
.personal-center-header {
    padding: 10px 20px 0;
}
.personal-center .breadcrumb {
    margin: 15px 0;
}
.personal-center em, .personal-center cite {
    font-style: normal !important;
}
#uhd {
    width: 1160px;
    padding: 20px 20px 0px;
    margin: 0px auto;
    background: #E5EDF2;
}
#uhd .h {
    padding-left: 75px;
}
#uhd .avt {
    display: inline;
    float: left;
    margin-left: -65px;
}
.avt img {
    padding: 2px;
    width: 48px;
    height: 48px;
    background: #FFF;
    border: 1px solid;
    border-color: #F2F2F2 #CDCDCD #CDCDCD #F2F2F2;
}
#uhd .mt {
    padding-bottom: 0;
}
.mt {
    padding: 10px 0;
    font-size: 16px;
}
.xg1, .xg1 a {
    color: #999 !important;
}
.tb {
    margin-top: 10px;
    padding-left: 5px;
    line-height: 30px;
    border-bottom: 1px solid #CDCDCD;
    /* overflow: hidden; */
}
.tb li {
    float: left;
    margin: 0 3px 2px 0;
    font-size: 12px;
}
#uhd .tb a {
    border-width: 1px 0;
    padding: 10px;
    background: ghostwhite;
    color: #333;
    text-decoration: none;
}
#uhd .tb .active a {
    border: 1px solid #CCC;
    border-bottom-color: #FFF;
}
/* ???? */
#ct {
    font-family: '????';
    width: 1160px !important;
    padding: 0px 20px;
    background: white;
    margin: 0px auto;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    min-height: 300px;
}
#ct .mn {
    width: 76% !important;
}
.mn {
    overflow: hidden;
}
.bw0 {
    background: transparent;
    border: none !important;
}
.bm, .bn {
    margin-bottom: 10px;
    font-size: 12px;
    font-family: '????' !important;
}
.bm_c {
    padding: 10px;
}
.bm>.bm_c {
    display: none;
}
.bbda {
    border-bottom: none !important;
}
.pbm {
    padding-bottom: 10px !important;
}
.mbn {
    font-size: 13px !important;
    font-weight: bold;
}
.mbm {
    margin-bottom: 10px !important;
}
.bbda {
    border-bottom: 1px dashed #CDCDCD;
}
.xw0 {
    font-weight: 400;
}
.pf_l li {
    float: left;
    width: 300px;
}
.pf_l em {
    padding-right: 10px;
    color: #666;
}
.xg2 {
    color: #666;
}
.pipe {
    margin: 0 5px;
    color: #CCC;
}
.xg1, .xg1 a {
    color: #999 !important;
}
.xi2, .xi2 a, .xi3 a {
    color: #369;
}
/* ?? */
.tbmu {
    padding: 8px 10px 8px 0;
    border-bottom: 1px dashed #CDCDCD;
}
.tbmu .a {
    color: #333;
    font-weight: 700;
}
.tl table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}
table {
    empty-cells: show;
    border-collapse: collapse;
}
.tl .th {
    margin-top: 1px;
    padding: 0 10px;
    border-bottom: 1px solid #CDCDCD;
    background: #F2F2F2;
}
.tl .th td, .tl .th th {
    height: 20px;
    border: none;
    vertical-align: baseline;
}
.tl .icn {
    padding-left: 5px;
    width: 25px;
    text-align: left;
}
.tl th, .tl td {
    padding: 5px 0;
    border-bottom: 1px solid #C2D5E3;
}
.tl th, .tl td.fn {
    padding-right: 1.5em;
    zoom: 1;
}
.tl .num {
    width: 60px;
    line-height: 14px;
}
.tl .num {
    width: 60px;
    line-height: 14px;
}
.emp {
    padding: 20px 10px;
}