{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    // "transform-decorators-legacy",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
