{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    // "transform-decorators-legacy",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "babel-plugin-root-import", {
        "path": [
          {
            "rootPathPrefix": "@",
            "rootPathSuffix": "src/"
          }
        ]
      }
    ]
  ]
}
