<div class="user">
  <div class="user_main">
    <div class="user_header">
      <div class="user_header_left">
        <img src="./image/user/userimg.png" alt="">
        <div>
          <p> 下午好，
            <span>天天发财 </span>
          </p>
          <p>
            <i class="iconfont icon-qiandai"></i> 余额：
            <span> ￥8000.0000 </span> 元
            <i class="iconfont icon-shuaxin"></i>
          </p>
        </div>
      </div>
      <div class="user_header_right" id="userCenterJunpToMoney">
        <ul>
          <li data-link="topUpMoney">
            <span class="tuo1">
              <i class="iconfont icon-chongzhijilu"></i>
            </span>
            <span> 我要充值 </span>
          </li>
          <li  data-link="withdrawalsMoney">
            <span class="tuo2">
              <i class="iconfont icon-qianbao01"></i>
            </span>
            <span> 我要提款 </span>
          </li>
          <li  data-link="transferMoney">
            <span class="tuo3">
              <i class="iconfont icon-chongzhi"></i>
            </span>
            <span> 我要转账 </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="user_footer">
      <div class="user_footer_left">
        <div id="userCenterMeunList" class="user_foote_meun">
          <div>
            <p>
              <i class="iconfont icon-yonghudianji"></i> 个人中心 </p>
            <ul>
                <li data-link="personalData"> 个人资料 </li>
                <li data-link="changePassword"> 密码修改 </li>
                <li data-link="bindCard"> 卡号绑定 </li>
                <li data-link="bonusPlay"> 玩法奖金 </li>
            </ul>
          </div>
          <div>
            <p>
              <i class="iconfont icon-youxi"></i> 游戏记录 </p>
            <ul>
                <li data-link="queryOrder"> 订单查询 </li>
                <li data-link="chaseRecord"> 追号记录 </li>
                <li data-link="ptRecord"> PT记录 </li>
                <li data-link="gaRecord"> GA记录 </li>
                <li data-link="shababRecord"> 沙巴记录 </li>
                <li data-link="agRecord"> AG记录 </li>
            </ul>
          </div>
          <div class="">
            <p>
              <i class="iconfont icon-qianbi"></i> 资金记录 </p>
            <ul>
                <li data-link="withdrawalsRecords"> 提款记录 </li>
                <li data-link="moneyDetail"> 资金明细 </li>
            </ul>
          </div>
          <div class="">
            <p>
              <i class="iconfont icon-users"></i> 代理团队 </p>
            <ul>
                <li data-link="vipManagement"> 会员管理 </li>
                <li data-link="vipReport"> 会员报表 </li>
                <li data-link="registeLower"> 注册下级 </li>
                <li data-link="lowerOrders"> 下级订单 </li>
                <li data-link="preferentiallist"> 优惠列表 </li>
            </ul>
          </div>
          <div class="">
            <p>
              <i class="iconfont icon-informatiom"></i> 信息管理 </p>
            <ul>
              <li data-link="inBox"> 收件箱 </li>
              <li data-link="outBox"> 发件箱 </li>
              <li data-link="sendBox"> 发邮件 </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="user_footer_right" id="userCenterContent">

      </div>
    </div>
  </div>
</div>