/* header start */
.pageHeader {
	width:100%;
	background:#18181d;
	transition:height 0.4s ease;
	padding-top:100px;
	box-sizing:border-box;
	position:relative;
	z-index:2000;
}
.headNav {
	width:100%;
	height:100px;
	background:rgba(255,255,255,0.07);
	position:absolute;
	left:0px;
	top:0px;
	z-index:1000;
}
.headNav div.logo {
	background: url("../images/logo.png") no-repeat 0 0;
	background-size: 60px 60px;
	width: 80px;
	height: 60px;
	margin: 20px 0 0 20px;
	float: left;
}
.headNav .logoinfo {
	color: #fff;
	position: absolute;
	display: inline-block;
	width: 100px;
	font-size: 30px;
	top: 40px;
	line-height: 14px;
}
.headNav .logoinfo span:nth-of-type(1) {
	color: #eb7207;
	letter-spacing: 1px;
}
.headNav .logoinfo span:nth-of-type(2) {
	color: #0c76bf;
	letter-spacing: 1px;
}
.headNav .logoinfo span:nth-of-type(3) {
	font-size: 12px;
	color: #eb7207;
	letter-spacing: 15px;
	display: inline-block;
	margin-left: 21px;
	width: 140px;
}

div.menu {
    position: absolute;
    width: 100%;
    background-color: rgba(24,24,29,0.9);
    left: 0;
    top: 80px;
    padding: 2em 0;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: 0 top 0;
    transition: transform .35s ease,opacity .35s;
}
div.menu ul li {
	text-align:center;
	font-size:1.4rem;
	font-size:14px;
	display: block;
    padding: .5em 0;
}

div.menu ul li a {
	display:inline-block;
	height:37px;
	color:#fff;
	font-weight:bold;
	perspective:1000px;
}

div.menu ul li a span {
	display:inline-block;
	padding:0 .75rem;
	height:33px;
	line-height:34px;
	position:relative;
	border:2px solid transparent;
	transform-style:preserve-3d;
	transform-origin:50% 0 0;
	transition:0.3s;
	font-size: 18px;
}

div.menu ul li:nth-of-type(1) .menu-title {
	color: #E44E27;
}

div.menu ul li a span:before {
	content:attr(data-hover);
	position:absolute;
	left:-2px;
	top:100%;
	width:100%;
	height:100%;
	background:#E44E27;
	color: #fff;
	line-height:36px;
	text-align:center;
	opacity:0;
	border:2px solid #E44E27;
	transform-origin:50% 0 0;
	transform:rotateX(-90deg);
	transition:0.3s;
}
div.menu ul li a:hover span {
	transform:rotateX(90deg);
	border-color:#E44E27;
}
div.menu ul li a:hover span:before {
	opacity:1;
}

/* end header */

/*main nav start*/
main {
	display:block;
	position:relative;
}

div.navContainer li a {
	display:block;
	height:37px;
	color:#000;
	font-weight:bold;
	perspective:1000px;
}
div.main-menu ul.menu li a span.current {
	border:2px solid #E44E27;
}
div.main-menu ul.menu li a span {
	display:block;
	height:34px;
	padding:0 1rem;
	line-height:34px;
	font-size:14px;
	text-align:center;
	position:relative;
	transform-origin:50% 0 0;
	transform-style:preserve-3d;
	transform:rotateX(0deg);
	transition:0.3s;
	border:2px solid transparent;
}
/*end main nav*/

/* message start */
#message-container {
	overflow: hidden;
}
#message {
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	color:#5C1D00;
	width: 236%;
	/* left: 100%; */
	text-align: center;
	position: relative;
	background-color: #FFB23E;
	animation: Move 24s linear 0s infinite;
	-webkit-animation: Move 24s linear 0s infinite; 
	-moz-animation: Move 24s linear 0s infinite; 
	-o-animation: Move 24s linear 0s infinite; 
}
@keyframes Move {
	from { 
		left: 0;
	}
	to {
		left: -138%;
	}
}
@-webkit-keyframes Move {
	from { 
		left: 0;
	}
	to {
		left: -138%;
	}
}
@-moz-keyframes Move {
	from { 
		left: 0;
	}
	to {
		left: -138%;
	}
}
@-o-keyframes Move {
	from { 
		left: 0;
	}
	to {
		left: -138%;
	}
}
/* message end */

/*banner start*/
.banner .layout {
	max-width:960px;
	margin:auto;
}
/* .bannerMap {
	width: 100%;
	height: 560px;
	background: url('../images/首页通栏banner.png') no-repeat 0 0;
	background-size: 100% 100%;
} */
#banner {
	position: relative;
}
#bannerMap {
	overflow: hidden;
	width: 100%;
	height: 560px;
}
#bannerMap img {
	position: absolute;
	width: 100%;
	height: 560px;
	transition: opacity 1s;
}
#bannerMap img.on {
	opacity: 1;
	z-index: 1;
}
#bannerTab {
	position: absolute;
	z-index: 2;
	left: 50%;
	bottom: 20px;
	width: 82px;
	height: 14px;
	margin-left: -40px;
}
#bannerTab ul li {
	float: left;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background: #818181;
	margin:0 3px;
	cursor: pointer;
	transition: 1s;
}
#bannerTab ul li.on {
	background: #f60;
}
/*end banner*/

/*introduce start*/
main .introduce:before {
	content:'';
	display:table;
}
.introduce-item {
	min-height:200px;
	padding:80px 0;
}
.introduce-item:nth-child(2n) {
	background: #fdf7f7;
	
}
.introduce-item .layout {
	max-width:784px;
	position:relative;
	box-sizing:border-box;
	text-align:center;
}
.introduce-item .layout i.icon {
	width:224px;
	height:200px;
	display:inline-block;
	background:url("../images/彩票内容.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.introduce-item .layout h3 {
	font-size:22px;
	font-size:2.2rem;
}
.introduce-item .layout p {
	font-size:14px;
	font-size:1.4rem;
	line-height:2.2rem;
	letter-spacing:1px;
}
.introduce-item .layout ul, .introduce-item .layout .title {
	margin-top: 1.5rem;
}
.introduce-item .layout .title {
	font-weight: bold;
}
.mobileApp .layout .title {
	font-weight: 100;
}
.introduce-item  .layout .txt {
	padding-top: 2.6rem; 
}
.introduce-item .layout ul li {
	font-size:14px;
	font-size:1.4rem;
	line-height:18px;
	display:inline-block;
	vertical-align:bottom;
	margin-top: 0.6rem;
}
.introduce-item .layout ul li span  {
	font-weight: bold;
	margin-right: 15px; 
}
.introduce-item .layout ul li:nth-child(4):after {
	content:'';
}
.back-end .layout i.icon {
	width:200px;
	background:url("../images/第三方游戏.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.mobileApp .layout i.icon {
	width:181px;
	background:url("../images/第三方充值.png") no-repeat 0 0;
	background-size: 100% 100%;
}
/* end introduce */

/*end section */

/* otherPages start*/
#otherPages {
	display: none;
	width: 100%;
	height: 630px;
}
#otherPages .layout {
	position: relative;
	max-width: 1200px;
	padding: 50px 0;
}
#otherPages i.icon {
	left: 0;
	width: 351px;
	height: 530px;
	border-radius: 10px;
	display:inline-block;
	background:url("../images/竖版banner.png") no-repeat 0 0;
	background-size: 100% 100%;
	margin-right: 30px;
	float: left;
}
#otherPages .txt {
	height: 530px;
	width: 67%;
	max-width: 820px;
	display: inline-block;
	float: left;
	border: 1px solid #E7E7E7;
	border-radius: 10px;
}
#otherPages .txt .title {
	background: #E7E7E7;
	height: 50px;
	line-height: 50px;
	padding-left: 32px;
	border-radius: 10px 10px 0 0;
	font-size: 24px;
	font-weight: bold;
}
#otherPages .contact-us, #otherPages .about-us {
	display: none;
}
/* 选项卡 start */
#otherPages .bulletin-container {
	padding: 0 50px;
}
#otherPages .bulletin-item {
	height: 78px;
	border-bottom: 1px solid #E7E7E7;
}
#otherPages .bulletin-item em, .bulletin-item span:nth-of-type(2) {
	height: 78px;
	line-height: 78px;
	font-size: 16px;
	display: inline-block;
}
#otherPages .bulletin-item em {
	font-weight: bold;
	width: 12.5%;
}
#otherPages .bulletin-item span:nth-of-type(1) {
	display: inline-block;
	font-size: 16px;
	width: 60%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 25px 0 15px;
}
#otherPages .bulletin-item span:nth-of-type(2) {
	width: 12.5%;
}
/* 分页 start */
#otherPages .paganation {
	width: 280px;
	height: 46px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}
#otherPages .paganation span {
	border: 1px solid #E7E7E7;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 5px;
	display: inline-block;

}
/* 左箭头 */
#arrow_left {
	width: 34px;
	height: 34px;
	position: relative;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
}
#arrow_left_l {
	position: absolute;
	top: 8px;
	left: 12px;
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #000;
}
#arrow_left_r {
	position: absolute;
	top: 8px;
	left: 14px;
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #fff;
}
/* 右箭头 */
#arrow_right {
	width: 34px;
	height: 34px;
	position: relative;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
}
#arrow_right_r {
	position: absolute;
	top: 8px;
	left: 14px;
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #000;
}
#arrow_right_l {
	position: absolute;
	top: 8px;
	left: 12px;
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #fff;
}
#otherPages .paganation span, #arrow_right, #arrow_left {
	cursor: pointer;
}
#otherPages .page-control:nth-of-type(1) {
	background: #FEB13D;
}
/* 分页 end */
/* 选项卡 end */
/* otherPages end*/

/* footer start */
.pageFooter {
	width:100%;
	position: relative;
	background-color: #232329;
    color: #999;
}
.pageFooter .layout {
	position:relative;
	text-align:center;
}
.pageFooter .footer-top {
	padding: 50px 0;
	border-bottom: 1px solid #fff;
}
.pageFooter .about, .pageFooter .waring {
	text-align: left;
	width: 66%;
	float: left;
	line-height: 30px;
}
.pageFooter .waring {
	width: 34%;
}
.pageFooter .about li:nth-of-type(1) em {
	font-size: 22px;
	font-weight: bold;
	margin-right: 20px;
	font-family: 'Microsoft Yahei';
}
.pageFooter .about li:nth-of-type(1) span {
	font-size: 20px;
}
.pageFooter .footer-bottom {
	padding: 40px 0 50px 0;
}
.pageFooter .footer-bottom .partner {
	width: 66%;
	display: flex;
	justify-content: flex-start;
}
.pageFooter .footer-bottom .duty {
	width: 34%;
}
.pageFooter .footer-bottom ul, .pageFooter .footer-bottom li, .pageFooter .footer-bottom i {
	float: left;
}
.pageFooter .footer-bottom li {
	margin-left: 15px;
}
.pageFooter .footer-bottom i {
	width: 82px;
	height: 20px;
	background: url("../images/icon/ico-footer.png") no-repeat;
	line-height: 20px;
	display: inline-block;
}
.link {
	display:block;
}
.link div {
	display:inline-block;
}
.link a {
	display:inline-block;
	color:#999;
	height:24px;
	width:24px;
	background:url("../images/icon/gui-ico.png") no-repeat;
	vertical-align:middle;
}
.link div:nth-child(1) a {
	background-position:-150px 0px;
}
.link div:nth-child(2) a {
	background-position:-200px 0px;
}
.link div:nth-child(1) a:hover {
	background-position:-150px -25px;
}
.link div:nth-child(2) a:hover {
	background-position:-200px -25px;
}


/* end footer */

@media only screen and (min-width: 768px) {
	 div.menu {
		display:inline-block;
		float:right;
		margin: 0 20px 0 10px;
		position: static;
		width: auto;
		background-color: transparent;
		left: 0;
		top: 0;
		padding: 2em 0;
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: 0 top 0;
		transition: transform .35s ease,opacity .35s;
	}
	div.menu ul li {
		display:inline-block !important;
	}
}


/* 手机 */
@media only screen and (max-width: 650px) {
	#homePage {
		display:none;
	}
	#navTrigger {
		left:0px !important;
	}
}

@media only screen and (max-width: 1120px) {
	#otherPages .txt {
		width: 54%;
	}
	.footer-bottom .partner, .footer-bottom .duty {
		width: 100% !important;
	}
}

@media only screen and (min-width: 650px) {
	.introduce-item .layout {
		text-align:left;
		padding-left: 270px;
	}
	.introduce-item i.icon {
		position: absolute;
		top: 0;
		right: 50%;
		margin-right: 158px;
	}
	.introduce-left i.icon {
		right: -158px;
	}
	.introduce-left .layout {
		padding-left: 0;
		padding-right: 270px; 
	}
}
@media only screen and (min-width: 1120px) {
	.introduce-item .layout  {
		padding-left: 400px;
		max-width: 960px;
	}
	.introduce-left .layout {
		padding-left: 128px;
		padding-right: 278px; 
	}
}