@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d1i484');
  src:  url('fonts/icomoon.eot?d1i484#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d1i484') format('truetype'),
    url('fonts/icomoon.woff?d1i484') format('woff'),
    url('fonts/icomoon.svg?d1i484#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\ea93";
}
.icon-image:before {
  content: "\ea9f";
}
.icon-images:before {
  content: "\eaa0";
}
.icon-camera:before {
  content: "\eaa1";
}
.icon-box-remove:before {
  content: "\eaf0";
}
.icon-undo2:before {
  content: "\eaf8";
}
.icon-spinner11:before {
  content: "\eb15";
}
.icon-enlarge:before {
  content: "\eb1a";
}
.icon-shrink:before {
  content: "\eb1b";
}
.icon-cog:before {
  content: "\eb25";
}
.icon-bin:before {
  content: "\eb3d";
}
.icon-menu:before {
  content: "\eb4e";
}
.icon-download3:before {
  content: "\eb58";
}
.icon-upload3:before {
  content: "\eb59";
}
.icon-loop2:before {
  content: "\ebbf";
}
.icon-circle-up:before {
  content: "\ebd2";
}
.icon-circle-right:before {
  content: "\ebd3";
}
.icon-circle-down:before {
  content: "\ebd4";
}
.icon-circle-left:before {
  content: "\ebd5";
}
